<h1>Employees</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Job type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @employees %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
